@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Authors>
@{
    Layout = "_Layout.cshtml";
}
@* Header *@
<header class="w-full m-0 p-0 bg-cover bg-bottom" style="background-color: #3F46B1">
    <div class="container max-w-4xl mx-auto p-8 text-center break-normal">
        <a href="/" class="text-white font-extrabold text-3xl md:text-5xl">
            The Razor Blog
        </a>
    </div>
</header>


@* Title *@
<div class="text-center pt-16 h-64">
    <h1 class="font-bold break-normal text-3xl md:text-5xl">Nothing to see here - at least not yet :)</h1>
</div>